.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 0 auto;
  padding: 80px 0;
  max-width: 632px;
  width: 100%;
  overflow-y: auto;
}

.content__title {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
}

.content__title strong {
  font-weight: 700;
}

.create-post-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  width: 140px;
  height: 32px;
  font-weight: 700;
  color: #fff;
  background-color: var(--color-light-violet);
  border-radius: 16px;
  transition: all 0.1s;
  cursor: pointer;
}

.create-post-btn:hover {
  background-color: var(--color-violet);
}

.content__posts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.post {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.post__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

.post__content .title {
  font-size: 24px;
  font-weight: 700;
}

.post__content .info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.info__metadata {
  display: flex;
  gap: 16px;
}

.post__author {
  padding: 24px;
  font-size: 14px;
  border-top: 1px solid var(--color-gray);
}
